/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: #333;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
p {
  font-size: 1.8rem;
  line-height: 2rem;
}
section {
  margin: 0 12%;
}
.header {
  height: 300px;
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.header .background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}
.header .title {
  font-size: 7rem;
  padding: 30px 5% 30px 12%;
  position: relative;
}
.header .title:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.header .subtitle {
  width: 300px;
  padding: 20px 5% 20px 12%;
  font-size: 5rem;
  position: relative;
}
.header .subtitle:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.header .description {
  width: 60%;
  padding: 30px;
  position: relative;
}
.header .description:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.apod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.apod img {
  width: 50%;
}
.custom-apod {
  margin-top: 70px;
  margin-bottom: 70px;
}
.custom-apod .content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.custom-apod .content .description-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.custom-apod .content .description-wrapper .title {
  margin-bottom: 3rem;
}
.custom-apod .content .img-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.custom-apod .content .img-wrapper:hover {
  cursor: pointer;
}
.custom-apod .content .img-wrapper:hover i {
  font-size: 3.5rem;
}
.custom-apod .content .img-wrapper img {
  width: 100%;
}
.custom-apod .content .img-wrapper iframe {
  width: 100%;
  height: 300px;
  z-index: 1;
}
.custom-apod .content .img-wrapper i {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  padding: 5px;
  transition: font-size 100ms;
}
.custom-apod .date-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.custom-apod .date-container input {
  width: 150px;
  margin-right: 30px;
}
.custom-apod .date-container button {
  background-color: transparent;
  border: 3px #333 solid;
  padding: 10px 40px;
  margin-top: 10px;
  width: 150px;
  transition-duration: 300ms;
  transition-property: background-color, color, border;
}
.custom-apod .date-container button:hover {
  background-color: #333;
  border-color: #333;
  color: white;
  cursor: pointer;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 300px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.card:hover .img-container i {
  font-size: 3rem;
}
.card .img-container {
  overflow: hidden;
  height: 200px;
  transition: all 200ms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.card .img-container i {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  transition: font-size 100ms;
}
.card .img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card .text-container {
  padding: 20px 10px;
}
