.card {
    position: relative;
    width: 300px;
    border: 2px solid #333;

    .flex(@direction: column);

    &:hover {
        cursor: pointer;

        .img-container i {
            font-size: 3rem;
        }
    }

    .img-container {
        height: 200px;
        .flex();

        // &:hover {
        //     i {
        //         font-size: 3rem;
        //     }
        // }

        i {
            position: absolute;
            color: #fff;
            font-size: 2rem;

            transition: font-size 100ms;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .text-container {
        padding: 20px 10px;
    }
    
}