.custom-apod {    
    margin-top: 70px;
    .content {
        .flex(@align: flex-start);

        div {
            .flex(@direction: column, @align: flex-start);

            .date-container {
                margin-bottom: 30px;
            }
        }

        img {
            width: 50%;
        }
    }
}