.header {
    position: relative;
    overflow: hidden;
    color: white;
    background-color: @header-background;
    z-index: -2;

    .flex(@direction: column, @align: flex-start, @justify: space-evenly);

    .background-image {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    .title {
        font-size: 7rem;
        padding: 30px 5% 30px 12%;
        .dark-background-layer();
        margin: 2% 0 1%;
    }

    .subtitle {
        max-width: 350px;
        padding: 20px 5% 20px 12%;
        font-size: 5rem;
        margin: 1% 0 2%;

        .dark-background-layer();
    }

    .description {
        width: 60%;
        padding: 30px;
        .dark-background-layer();
    }
}